<div class="page responsive-log error-bg">

    <!-- Start::container -->
    <div class="container z-1">
        <div class="row mb-4 mx-2">
            <div class="col-lg-6 col-xl-5 my-auto d-none d-lg-block">
                <div>
                    <img src="./assets/images/media/png/14.png" alt="img" class="mt-5"> 
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 mt-4 pt-2 text-center text-lg-start">
                <div class="display-1 text-primary mb-4 fw-medium fontnumber"> 403</div>
                <h1 class="h3  mb-2 fw-medium">Sorry, Forbidden Error, Requested Page not found!</h1>
                <p class="h5 fw-normal mb-5 leading-normal">You may have mistyped the address or the page may have moved.</p>
                <a class="btn btn-primary" routerLink="/dashboard/hrmdashboards/dashboard"><i class="fe fe-arrow-left-circle me-1"></i>Back to Home</a>
            </div>
        </div>
    </div>
    <!-- End::container -->

</div>
