<div class="page responsive-log error-bg1">

    <!-- Start::container -->
    <div class="container text-center position-relative ">
        <div class="display-1 text-fixed-white mb-4 fw-medium fontnumber text-direction">5<i class="fa-regular fa-face-frown err-icon"></i>3</div>
        <h1 class="h3  mb-2 fw-medium text-fixed-white text-opacity-75">Sorry, an error has occurred, Service Unavailable. </h1>
        <p class="h5 fw-medium mb-5 leading-normal text-white-50">You may have mistyped the address or the page may have moved.</p>
        <a class="btn btn-danger" routerLink="/dashboard/hrmdashboards/dashboard"><i class="fe fe-arrow-left-circle me-1"></i>Back to Home</a>
    </div>
    <!-- End::container -->

</div>