<div class="page responsive-log error-bg">

    <div class="page-content m-0 z-1">
        <!-- Start::container -->
        <div class="container text-center">
            <div class="display-1 text-primary mb-4 fw-bold fontnumber">4<i class="fa-regular fa-face-smile err-icon"></i>4</div>
            <h1 class="h3  mb-2 fw-medium">Sorry, an error has occured, Requested Page not found!</h1>
            <p class="h5 fw-normal mb-5 leading-normal">You may have mistyped the address or the page may have moved.</p>
            <a class="btn btn-primary" routerLink="/dashboard/hrmdashboards/dashboard"><i class="fe fe-arrow-left-circle me-1"></i>Back to Home</a>
        </div>
        <!-- End::container -->
    </div>

</div>
