<!-- Page opened -->
<div class="page message-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 justify-content-center mx-auto text-center py-3">
                <div class="card custom-card">
                    <div class="card-body p-4 text-center">
                        <img src="./assets/images/svgs/delete.svg" alt="img" class="w-15 mt-4">
                        <h3 class="mt-2">Message Danger</h3>
                        <p class="mt-2 mb-3"> Oops!! You tried to access a page which is not available.. </p>
                        <a class="btn ripple btn-primary mb-4" routerLink="/dashboard/hrmdashboards/dashboard">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page closed -->